beeper/beeper

config/.env
config/docker-compose.local.yml
config/*-notifier
!config/*.example
config/logs/
config/custom-bin/*
!config/custom-bin/.gitkeep
config/.current-generation
config/.current-generation.tmp.*
config/.retired-generations/
config/.legacy-notice-shown

gpg-keys/*
!gpg-keys/.gitkeep

.tmp/

# macOS
.DS_Store
